*{
    text-align: center;
}

h2 {
    margin-top: 50px;
}

h1 {
    padding: 30px 20px;
    border: 7px solid darkblue;
    width: 40%;
    margin: 20px auto;
}

a > button {
    display: block; 
    margin: 50px auto;
    box-shadow: 10px 10px 8px #888888;
}

a {
    text-decoration: none;
}